backcall
backports.functools-lru-cache
beautifulsoup4 
black
brotlipy
certifi
cffi 
chardet 
charset-normalizer 
click
colorama
cryptography 
cycler
debugpy
decorator
dnspython
email-validator
entrypoints
filelock 
Flask
Flask-SQLAlchemy
Flask-WTF
fonttools
glob2 
greenlet
idna 
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter-client
jupyter-core
kiwisolver
libarchive-c 
MarkupSafe
matplotlib
matplotlib-inline
menuinst 
mypy-extensions
nest-asyncio
nltk
numexpr
numpy
oauthlib
packaging
pandas
parso
pathspec
pickleshare
Pillow
pkginfo 
platformdirs
prompt-toolkit
psutil 
pycodestyle
pycosat
pycparser 
Pygments
pyOpenSSL 
pyparsing
PySocks 
python-dateutil
python-dotenv
pytz
pywin32
PyYAML
pyzmq
pytest
regex
requests 
requests-oauthlib
scikit-learn
scipy
seaborn
six 
sklearn
soupsieve 
SQLAlchemy
threadpoolctl
toml
tomli
tornado
tqdm 
traitlets
tweepy
typed-ast
typing_extensions
urllib3 
wcwidth
Werkzeug
win-inet-pton 
wincertstore
WTForms
zipp
